<!-- <app-news-component></app-news-component> -->
<!-- <app-api-component></app-api-component> -->



<div class="container text-center">
    <button type="button" class="btn btn-outline-primary" (click)="GetApi()">Post API</button>&nbsp;
    <button type="button" class="btn btn-outline-secondary" (click)="NewsApi()">News API</button>&nbsp;
    <button type="button" class="btn btn-outline-success" (click)="Com()">Error Page</button>&nbsp;
    <button type="button" class="btn btn-outline-danger" (click)="Commet()">Comment</button>&nbsp;
    <button type="button" class="btn btn-outline-danger" (click)="Photo()">Photos</button>&nbsp;




</div>

<router-outlet></router-outlet>